:root {
  --fc-button-bg-color: var(--btn-primary);
  --fc-button-border-color: var(--btn-primary);
  --fc-button-text-color: var(--contr-color);
  --fc-button-hover-bg-color: var(--contr-color);
  --fc-button-hover-border-color: var(--contr-color);
  --fc-button-active-bg-color: var(--contr-color);
  --fc-button-active-border-color: var(--contr-color);
  --fc-event-bg-color: var(--contr-color);
  --fc-event-border-color: var(--contr-color);
  --fc-event-text-color: #ffffff; 
  --fc-today-bg-color: #fabbd430; 
  --fc-border-color: var(--room-border);
}

.fc .fc-button-primary.fc-button-active {
  color: white !important;
}

#roomSelect, 
#createStartTime, 
#createEndTime,
#editRoomSelect, 
#editStartTime, 
#editEndTime {
  width: 100%;
  height: 2.5rem;
  margin: 0.4rem 0 1rem 0;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 0.4rem;
  text-align: center;
  color: var(--input-text);  
  font-family: inherit;
}

.btn-delete-booking {
background-color: #ff4d4d; color: white; border: none; padding: 10px; border-radius: 6px; cursor: pointer;
}

.btn-delete-booking:hover {
  background: #d63d57; 
}

.calendar-container {
background: white; 
padding: 20px; 
border-radius: 12px; 
box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
margin-top: 20px;
}
