* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg-color);
}

/* CARD */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--card-color);

  padding: 25px;
  border-radius: 15px;
  width: 280px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* input e button */

#roomName, #capacity {
  width: 100%;
  height: 2.5rem;
  margin: 0.4rem 0;

  background-color: var(--bg-color);

  border: 1px solid var(--contr-color);
  border-radius: 0.4rem;

  text-align: center;
  font-weight: 400;
  color: var(--contr-color);
}

#roomName {
  margin-top: 1rem;
}

#btn-create {
  width: 100%;
  padding: 10px;

  border: none;

  background: var(--contr-color);
  color: var(--bg-color);
  border-radius: 8px;

  margin-top: 1rem;

  cursor: pointer;

  transition: 0.4s ease;
}

#btn-create:hover{
  background-color: var(--btn-primary);

  color: var(--contr-color);
}

/* LAYOUT */
.container {
  display: flex;
  height: 100vh;
}

/* sidebar */

.sidebar {
  width: 16rem;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background: var(--contr-color);
  color: var(--card-color);

  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;

  border: none;
  background: var(--bg-color);
  color: var(--contr-color);

  border-radius: 8px;
  cursor: pointer;

  transition: 0.4s ease;
}

.sidebar button:hover {
  background-color: var(--btn-primary);

  color: var(--contr-color);
}

/* TRANSIÇÃO */
.sidebar {
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 5rem;
}

.sidebar.collapsed .menu-title {
  display: none;
}

.sidebar.collapsed button {
  font-size: 16px;
}

/* ÍCONES */
.sidebar.collapsed button::before {
  font-size: 16px;
}

/* BOTÃO TOGGLE */
.toggle-btn {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
}

/* AJUSTE MAIN */
.main {
  transition: margin-left 0.3s ease;
}

.sidebar.collapsed ~ .main {
  margin-left: 5rem;
}

.main {
  flex: 1;
  margin-left: 16rem;
  padding: 30px;
}

/* ROOMS */
.rooms {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 20px;
  margin-top: 20px;
}

.room-card {
  background: var(--card-color);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.btn-room {
  margin-top: 10px;
  width: 100%;
  padding: 8px;

  border: none;

  background: var(--btn-primary);
  color: var(--contr-color);

  border-radius: 8px;

  cursor: pointer;
  transition: 0.4s ease;
}

.btn-room:hover {
  background-color: var(--contr-color);
  color: var(--btn-primary);
}

.filter button {
  margin-top: 10px;
  width: 5rem;
  padding: 8px;

  border: none;

  background: var(--btn-primary);
  color: var(--contr-color);

  border-radius: 8px;

  cursor: pointer;
  transition: 0.4s ease;
}

.filter button:hover {
  background-color: var(--contr-color);
  color: var(--btn-primary);
}

.room-card {
  transition: opacity 0.3s ease;
}

.room-card.inactive {
  opacity: 0.4;
}

/* popup */

.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

/* cnt popup */

.modal-content {
  background: var(--card-color);
  padding: 25px;
  border-radius: 15px;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* btn popup */

.modal-content button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s;
}

.modal-content button {
  background-color: var(--contr-color);
}

.modal-content button:first-of-type {
  background: var(--contr-color);
  color: var(--btn-primary);
}

.modal-content button:first-of-type:hover {
  background: var(--btn-primary);
  color: var(--contr-color);
}

.modal-content button:last-of-type {
  background: var(--bg-color);

  transition: 0.4s ease;
}

.modal-content button:last-of-type:hover {
  background: var(--btn-primary);
  color: var(--bg-color);
}

/* hide */

.hidden {
  display: none;
}

.modal {
  animation: fadeIn 0.2s ease;
}

.modal-content {
  animation: scaleIn 0.2s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}